body {
    padding-top: 50px;
    font-family: "PT Sans", sans-serif;
}

.image-header {
    height: 300px;
    background-color: #0f1a1e;
    background: url('../images/bio.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-header .container {
    height: 100%;
}

.timespan {
    white-space: nowrap;
}

h1 {
    font-size: 4em;
    color: #ffffff;
}

.img-center {
    margin: 0 auto;
}

.top-30 {
    margin-top: 30px;
}

.top-50 {
    margin-top: 50px;
}

footer {
    margin: 50px 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.pr-break {
    background-color: #157cf2 !important;
    color: #ffffff;
}

.pr-transport {
    background-color: #1ba9f5 !important;
    color: #ffffff;
}

.pr-moderator {
    font-weight: bold;
}

table {
    margin-top: 10px !important;
    margin-bottom: 40px !important;
}

.daterow td {
    border-top: 0px !important;
    padding-left: 0px !important;
}

#footer {
    padding: 20px 0px;
    background-color: #222222;
    color: #aaaaaa;
}

#logos {
    color: #888888;
    line-height: 40px;
}

#logos a {
    color: #999999;
}

#logos a:hover, #logos a:active, #logos a:visited {
    text-decoration: none;
}

#logos img {
    height: 40px;
}

@media only screen and (max-width: 600px) {
    .timespan {
        white-space: normal !important;
    }
    #logos img {
        height: 40px;
    }
    h1 {
        font-size: 2.5em;
    }
    td.break {
        word-wrap: break-word;
    }
}

.banner {
    height: 10px !important;
}

.yellow {
    background-color: #FFE936;
}

.red {
    background-color: #FF0F21;
}

.black {
    background-color: #000000;
}

#arms {
    position: absolute;
    width: 100px;
    bottom: -70px;
}

#arms img {
    max-width: 100%;
}

.yellow .container {
    position: relative;
}

.image-header .container {
    position: relative;
}

#tagline {
    position: absolute;
    top: 50%;
    margin-top: -60px;
}

iframe {
    width: 320;
    height: 195;
}

.light {
    background-color: #eeeeee;
}

